body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #FDFBF8; /* Warm Neutral Background */
    color: #4A4A4A;
}
.card {
    background-color: #FFFFFF;
    border: 1px solid #F0EAE3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.nav-button {
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}
.nav-button.active, .nav-button:hover {
    color: #D4A373; /* Subtle Accent */
    border-bottom-color: #D4A373;
}
.tab-button.active {
    background-color: #D4A373;
    color: #FFFFFF;
}
.tab-button {
    transition: all 0.3s ease;
}
.chart-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 400px;
}
.game-icon {
    transition: transform 0.3s ease;
}
.game-icon-container {
    position: relative;
    display: inline-block;
}

.game-icon-container .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.game-icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.game-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

#principles {
    background-color: #F7F7F7; /* A slightly different background to distinguish the section */
    border-radius: 8px;
}